*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#selector{
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  #color_picker{
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    &:hover{
      cursor: pointer;
    }
  }
}

#grid{
  margin: 20px auto;
  aspect-ratio: 1/1;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  border: 1px solid black;
  div{
    aspect-ratio: 1/1;
    &:hover{
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.50);
      cursor: pointer;
    }
  }
}
